html {
    background-color: #020659;
    color: #ffffff;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-width: 375px;
    margin: 0 auto;
    background-color: #ffffff;
}

header {
    width: 100%;
    background: linear-gradient(.25turn, #2104D9 , #000);
}

nav {
    background-color: #030a8c;
}

h1 {
    font-size: 1.25em;
}

h2 {
    font-size: 1em;
    color: #590242;
    text-transform: capitalize;
}

p, dl, dd {
    font-size: 1em;
}

dt {
    text-transform: uppercase;
}

footer p {
    font-size: .75em;
}

section a {
    display: block;
    background-color: #590242;
    color: #ffffff;
    border-radius: 5px;
}

audio {
    z-index: 10;
}

#trending dl {
    color: #590242;
    z-index: 5;
    background-color: #ffffff;
}

#aloma {
    background-image: url(Images/aloma-cover.png);
}