html {
    background-color: #020659;
    color: #ffffff;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-width: 375px;
    margin: 0 auto;
}

header {
    background: linear-gradient(#2104D9 , #000);
}

h1 {
    font-size: 1.25em;
}

h2, h3 {
    font-size: 1em;
}

p, dl, dd {
    font-size: 1em;
}

footer p {
    font-size: .75em;
}